<div
  class="bg-white shadow-lg rounded-lg overflow-hidden border border-gray-200 flex flex-col h-full transition-all hover:shadow-xl"
>
<div class="p-6 flex-grow">
    <div class="flex justify-between items-start mb-4">
      <h2 class="text-2xl font-bold text-primary">
        Always Free Plan
      </h2>
    </div>
    <p class="text-2xl font-semibold text-gray-800 mb-1">
        $0/year
    </p>
    <ul class="space-y-3 mb-6">
      <li key={1} class="flex items-center">
        <span class="w-5 h-5 mr-2 bg-green-500 text-white flex items-center justify-center rounded-full text-xs">
          ✓
        </span>
        <span class="text-gray-700">
          Full access to Free Wribates
        </span>
      </li>
      <li key={2} class="flex items-center">
        <span class="w-5 h-5 mr-2 bg-green-500 text-white flex items-center justify-center rounded-full text-xs">
          ✓
        </span>
        <span class="text-gray-700">
          Start 2 Wribates per month
        </span>
      </li>
      <li key={3} class="flex items-center">
        <span class="w-5 h-5 mr-2 bg-green-500 text-white flex items-center justify-center rounded-full text-xs">
          ✓
        </span>
        <span class="text-gray-700">
          Lead 2 Wribates per month
        </span>
      </li>
      <li key={4} class="flex items-center">
        <span class="w-5 h-5 mr-2 bg-green-500 text-white flex items-center justify-center rounded-full text-xs">
          ✓
        </span>
        <span class="text-gray-700">
          Limited participation in Sponsored Wribates
        </span>
      </li>
      <li key={5} class="flex items-center">
        <span class="w-5 h-5 mr-2 bg-green-500 text-white flex items-center justify-center rounded-full text-xs">
          ✓
        </span>
        <span class="text-gray-700">
          Comment on articles
        </span>
      </li>
      
    </ul>
  </div>
</div> 